[submodule "tlsfuzzer"]
	path = tlsfuzzer
	url = https://github.com/vuljector/tlsfuzzer
[submodule "python-ecdsa"]
	path = python-ecdsa
	url = https://github.com/vuljector/python-ecdsa
[submodule "tlslite-ng"]
	path = tlslite-ng
	url = https://github.com/vuljector/tlslite-ng
